@mixin hbar($color, $width, $margin-top, $opacity: 1) {
    content: "";
    display: block;
    background-color: $color;
    height: 1px;
    width: $width;
    margin: auto;
    margin-top: $margin-top;
    opacity: $opacity;
}

@mixin flexCenter($align-items: flex-start, $justify-content: flex-start, $direction: row) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $direction;
}

@mixin screen($breakpoint) {
	@if $breakpoint == xxs {
		@media only screen and (max-width: 31.25em) { @content }; //500px
	}
	@if $breakpoint == xs {
		@media only screen and (max-width: 50em) { @content }; //800px
	}
	@if $breakpoint == small {
		@media only screen and (max-width: 62.5em) { @content }; //1000px
	}
	@if $breakpoint == medium {
		@media only screen and (max-width: 75em) { @content }; //1200px
	}
	@if $breakpoint == large {
		@media only screen and (max-width: 94em) { @content }; //1500px
	}
	@if $breakpoint == xl {
		@media only screen and (min-width: 112.5em) { @content }; //1800px
	}
}