.sfondo {
  background-color: #131c22;
}
* {
  color: white;
}
.title-h1 {
  font-size: 5vw;
  text-align: center;
  margin-bottom: 2%;
}
.detail-game {
  margin: 2% 0 0 2% !important;
  text-align: justify;
}
.no-border {
  border-color: transparent !important;
}
table.grid {
  margin: 2% 0 0 0 !important;
  width: 35vw;
  height: 35vw;
}
table,
th,
td {
  border: 1px solid !important;
}
