@font-face {
  font-family: odGmText;
  src: url(../../assets/fonts/odGmText.TTF);
}
.backgroundGame {
  background-color: #131c22;
}
* {
  color: white;
}
.title-h1 {
  font-size: 5vw;
  text-align: center;
  margin-bottom: 4%;
  font-family: odGmText;
}
.detail-game {
  margin: 1% 0 0 0 !important;
  text-align: justify;
  font-family: odGmText;
}
.detail-game > h4 {
  font-size: 1.5vw !important;
}
table.grid {
  margin: 2% 0 0 !important;
  width: 35vw;
  height: 35vw;
}
.grid-border {
  border: 1px solid !important;
}
.no-border {
  border: none !important;
}
.indicator {
  width: 1px;
  font-size: 1vw;
  font-weight: bold;
  margin-left: 1vw;
}
.btn-style {
  font-family: odGmText;
  font-size: 4vw !important;
  background-color: #a76d16 !important;
  border: 0.6vw solid #6b5535 !important;
  width: 45% !important;
  height: 40%;
  margin: 2% 0 0 28% !important;
  border-radius: 2vw !important;
}
.btn-style:focus {
  box-shadow: none !important;
}
.btn-style:hover {
  background-color: #8d601d !important;
}
.btn-style:active {
  background-color: #704a11 !important;
  color: white !important;
}
.game-menu {
  width: 95% !important;
  height: 22vw;
  background-color: #383b3d;
  margin: 5% 0 0 0 !important;
  outline: 0.7vw solid #2a2b2c;
}
.zoomin {
  animation-name: zoomin;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
