.sfondo {
  background-color: #131c22;
}
.sidebar {
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #1a262e;
}
hr {
  width: 13vw;
}
.theme-btn {
  width: 100%;
  height: 2vw;
}

#app {
  margin-left: 15%;
}
